*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(3, 3, 53, 0.863);
    color: white;
    padding: 70px;

}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;;
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    font-size: 4rem;
}

.container form{
    display: flex;
    align-items: center;
    position: relative;

}
.container form input{
    height: 50px;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: rgb(3 3 53 / 0%);
    color: white;
    padding: 3px 10px;
    margin-bottom:20px;
}

.container button{
    padding: 15px 20px;
 background-color: rgb(224, 37, 100);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.4s ease;
}

.container button:hover{
    background-color: rgba(224, 37, 99, 0.603);
}

.msg{
    display: block;
    position: absolute;
    bottom: -40px;
    left: 15px;
    max-width: 450px;
    min-height: 40px;
    font-size: 1rem;
    color:white;
}

.ajax-section{
    margin: 70px 0 20px;
}
.cities{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    list-style: none;
    gap:30px 20px;
}
.city{
    background-color: white;
    padding: 15px 20px;
    color: rgb(83, 80, 80);
    border-radius: 20px;
    box-shadow: 0px 10px 0px rgba(179, 177, 177, 0.562);
    position: relative;
}
.city h2{
    color:rgb(68, 64, 64);
    text-align: left;
    margin-left: 10px;
}
.name{
    font-size: 2rem;
    color: rgb(59, 59, 59);

}
.country{
    font-size: 1rem;
    color:black;
    background-color: rgb(212, 212, 54);
    padding: 3px;
    border-radius: 10px;
}
.city-temp{
    font-size: 5rem;
    margin: 10px 20px;
}
img{

    margin: 10px 0;
    display: block;
 }
 figurecaption{
     display: block;
     margin: 5px 10px;
 }

 @media(max-width:1000px){
    form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    form input{
        width: 50%;
        font-size: 1rem;
    }
    form button{
        width:51%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    body{
        padding: 40px;
    }
    .heading{
        font-size: 2rem;

    }
    .cities{
        grid-template-columns: repeat(3,1fr);
    }

}
@media screen and (max-width:580px) {

     form input{
        width: 70%;
        font-size: 0.8rem;
    }
    form button{
        width:70%;
        margin-left: 0;
    }
    body{
        padding: 10px;
    }
    .heading{
        font-size: 1.3rem;

    }
    .msg{
        font-size: 0.7rem;
    }
    .cities{
        grid-template-columns: repeat(2,1fr);
    }
}